#loading {
  position: fixed;
  display: grid;
  place-items:center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  .loading-animation{
    width: 50vmin;
    height: 50vmin;
    border: .5rem solid $primary;
    border-left: none;
    border-bottom: none;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin{
  from{
    transform:rotate(0deg)
  }
  to{
    transform:rotate(360deg)
  }
}