.movies {

  &-title {
    font-size: 1.25rem;
  }

  &-item {
    position: relative;
    margin: 2px;
    transition: all .3s ease;
  }

  &-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($dark, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;

    i {
      font-size: 5.3125rem;
      animation: light 2s infinite;
    }

    h3 {
      font-size: 1.3rem;
      margin: 20px 0;
      text-align: center;
    }
  }

  &-item:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 0 50px $dark;

    .movies-info {
      opacity: 1;
    }
  }

  .slick-list {
    padding: 30px 0;
  }

  .slick-arrow {
    position: absolute;
    z-index: 2;
    top: 30px;
    background: rgba($dark, .7);
    height: calc(100% - 60px);
    width: 60px;
    color: $white;
    font-size: 2.5rem;
    border: 0;
    cursor: pointer;

    &.slick-next {
      right: 0;
    }
    &.slick-prev {
      left: 0;
    }
  }
}

@keyframes light {
  0% { text-shadow: 0 0 30px rgba($primary, .5) }
  50% { text-shadow: 0 0 100px $primary }
  100% { text-shadow: 0 0 30px rgba($primary, .5) }
}