/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #141414;
  color: white;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 5%;
}

.main {
  position: relative;
  margin-top: -160px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
}
.rating-label {
  margin-right: 10px;
}
.rating-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #141414;
  border-radius: 50%;
  border: 3px solid #4fcc75;
}

.btn {
  display: inline-flex;
  align-items: center;
  border: 0;
  background: rgba(20, 20, 20, 0.5);
  color: white;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #141414;
}
.btn i {
  font-size: 0.75rem;
  margin-right: 10px;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 25px;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-brand svg {
  fill: #e50914;
}
.header-menu {
  display: flex;
  margin-left: 40px;
}
.header-menu li {
  font-size: 0.875rem;
}
.header-menu .active {
  font-weight: bold;
}
.header-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.header-menu a:hover {
  text-decoration: underline;
}
.header-profile {
  display: flex;
  align-items: center;
}
.header-search {
  position: relative;
  margin-right: 30px;
}
.header-search i {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
}
.header-search input {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -15px;
  margin-top: -20px;
  background: #141414;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 0.875rem;
  padding: 10px 50px 10px 10px;
  color: white;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.header-search input:focus {
  opacity: 1;
  visibility: visible;
}
.header-search:hover input {
  opacity: 1;
  visibility: visible;
}
.header-account {
  position: relative;
}
.header-avatar {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.header-avatar i {
  margin-left: 10px;
}
.header-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: #141414;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  min-width: 170px;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.header-dropdown li {
  font-size: 0.875rem;
}
.header-dropdown a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.header-dropdown a:hover {
  text-decoration: underline;
}
.header-account:hover .header-dropdown {
  opacity: 1;
  visibility: visible;
}

.poster {
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
}
.poster:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), transparent);
}
.poster:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 270px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #141414, transparent);
}
.poster-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0.8;
}
.poster-content {
  width: 60%;
}
.poster-content h3 {
  font-size: 1.875rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
.poster-content h2 {
  font-size: 4.375rem;
  font-weight: bold;
}
.poster-content .rating {
  margin: 30px 0;
}

.movies-title {
  font-size: 1.25rem;
}
.movies-item {
  position: relative;
  margin: 2px;
  transition: all 0.3s ease;
}
.movies-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}
.movies-info i {
  font-size: 5.3125rem;
  animation: light 2s infinite;
}
.movies-info h3 {
  font-size: 1.3rem;
  margin: 20px 0;
  text-align: center;
}
.movies-item:hover {
  transform: scale(1.2);
  z-index: 2;
  box-shadow: 0 0 50px #141414;
}
.movies-item:hover .movies-info {
  opacity: 1;
}
.movies .slick-list {
  padding: 30px 0;
}
.movies .slick-arrow {
  position: absolute;
  z-index: 2;
  top: 30px;
  background: rgba(20, 20, 20, 0.7);
  height: calc(100% - 60px);
  width: 60px;
  color: white;
  font-size: 2.5rem;
  border: 0;
  cursor: pointer;
}
.movies .slick-arrow.slick-next {
  right: 0;
}
.movies .slick-arrow.slick-prev {
  left: 0;
}

@keyframes light {
  0% {
    text-shadow: 0 0 30px rgba(229, 9, 20, 0.5);
  }
  50% {
    text-shadow: 0 0 100px #e50914;
  }
  100% {
    text-shadow: 0 0 30px rgba(229, 9, 20, 0.5);
  }
}
.footer {
  width: 100%;
  max-width: 1140px;
  margin: 100px auto 0;
}
.footer-social {
  display: flex;
}
.footer-social li {
  font-size: 1.875rem;
  margin-right: 20px;
}
.footer-social a {
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}
.footer-social a:hover {
  color: white;
}
.footer-menus {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.footer-menu li {
  font-size: 0.875rem;
  margin-bottom: 10px;
}
.footer-menu a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-menu a:hover {
  color: white;
}
.footer-credits {
  margin: 20px 0;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
}

/*# sourceMappingURL=style.css.map */
